@use "../global" as *;

/* project .p-header
   ----------------------------------------------------------------- */

.p-header {
  color: $color-base;
  background-color: $color-accent;
}

.p-header__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}