extends _header.pug

block variables 
  - var title = 'About | Webpack test App byPug';

block content
  h1.site-title About Page
  img(src="../img/icon (1).png", alt="")
  img(src="../img/thumbnail.jpg", alt="")