extends _header.pug

block variables 
  - var title = ' Webpack test App byPug';

block content
  main.l-container
    section.p-first-view
      h1.p-first-view__heading Top Page!!
    img(src="../img/icon (1).png", alt="")
    img(src="../img/thumbnail.jpg", alt="")