header.l-header.p-header
  .p-header__inner
    nav.p-global-nav
      ul.p-global-nav__list
        li.p-global-nav__item
          a.p-global-nav__link(href="/") top
        li.p-global-nav__item 
          a.p-global-nav__link(href="/about/") about
        li.p-global-nav__item 
          a.p-global-nav__link(href="/works/") works