//- meta情報をオブジェクトにまとめて管理しています。
-
  var siteInfo = {
    "name": "Webpack test App byPug",
    "siteUrl": "dummy.url"
  };
-
  var meta = {
    "home": {
      "title": "Webpack test App byPug",
      "description": "topページの説明",
      "keywords":"",
      "type": "website",
      "slug":"/"
    },
    "about": {
      "title": "About | Webpack test App byPug",
      "description": "aboutページの説明",
      "type": "article",
      "keywords":"",
      "slug":"/about/"
    },
    "works": {
      "title": "Works | Webpack test App byPug",
      "description": "worksページの説明",
      "type": "article",
      "keywords":"",
      "slug":"/works/"
    }
  };