@use "../global" as *;

/* layout .l-page-wrapper
   ----------------------------------------------------------------- */

.l-page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}